.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: arial, helvetica, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1495757450029-09dbedacbc36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80");
}
.container {
  margin-top: 20px;
}
.mini img {
  width: 100%;
}
.temp {
  font-size: 15px;
}

.weather-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #68dcd8;
  border-radius: 10px;
  background-color: #a2dcd8;
  opacity: 0.8;
  display: block;
}
h1 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 450;
  height: 55px;
  line-height: 65px;
  text-align: center;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
}
.btn-dark {
  border: 2px solid #68dcd8;
}
.form-control {
  border: 2px solid #68dcd8;
}
.result-date {
  padding-top: 10px;
  text-align: center;
}
.result-description {
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
}
li:first-letter {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 20px;
}
.col-6 {
  padding: 23px 33px 23px 15px;
}
.text {
  padding: 15px;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature .strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast h3 {
  color: rgb(33, 33, 33);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
}
.text {
  color: #ffffff;
  text-align: center;
  font-weight: 650;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 58px;
  width: 58px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.code {
  color: rgb(33, 33, 33);
}
